{{define "meta"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Base Meta -->
    <title>Aiya</title>
    <meta name="description" content="A simple link shortener">
    <meta name="keywords" content="short, link, aika, moe, cute, URL, shortener, fast">
    <meta name="theme-color" content="#69caff">
    <meta property="og:image" content="https://aiya.link/static/icon.png">
    <link rel="icon" href="/static/icon.png">
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/main.css" rel="stylesheet">
{{end}}